<!DOCTYPE html>
<html>
	<head>
		<title>Bonelab</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/lobby.css">

	</head>
	<body>
		<div id="gameContainer">
			<div id="gameApp">
				<!-- Splash screen/Loading -->
				<div id="loadScreen" v-if="!hidden">
					<div id="container">
						<p>Loading...</p>
					</div>
				</div>

				<!-- Login -->
				<div id="loginApp" v-if="!hidden">
					<div class="inlineContainer">
						<label for="username">Username</label>
						<label for="username" class="error" v-if="usernameError">{{usernameMessage}}</label>
					</div>
					<input id="username" class="block" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="1" />

					<div class="inlineContainer">
						<label for="password">Password</label>
						<label for="password" class="error" v-if="passwordError">{{passwordMessage}}</label>
					</div>
					<input id="password" class="block" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="2" />

					<button id="loginButton" v-on:click="validate">LOGIN</button>
					<button id="toRegister" v-on:click="register">REGISTER →</button>
				</div>

				<!-- Register -->
				<div id="registerApp" v-if="!hidden">
					<div class="inlineContainer">
						<label for="rusername">Username</label>
						<label for="rusername" class="error" v-if="usernameError">{{usernameMessage}}</label>
					</div>
					<input id="rusername" class="block" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="3" />

					<div class="inlineContainer">
						<label for="rpassword">Password</label>
						<label for="rpassword" class="error" v-if="passwordError">{{passwordMessage}}</label>
					</div>
					<input id="rpassword" class="block" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="4" />

					<div class="inlineContainer">
						<label for="cpassword">Confirm Password</label>
						<label for="cpassword" class="error" v-if="cpasswordError">{{confirmMessage}}</label>
					</div>
					<input id="cpassword" class="block" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="5" />

					<button id="registerButton" v-on:click="validate" tabindex="6">REGISTER</button>
					<button id="toLogin" v-on:click="login">← LOGIN</button>
				</div>

				<!-- Overlay -->
				<div id="overlay" v-if="!hidden"></div>

				<!-- Dialog -->
				<div id="dialogApp" class="glass-2" v-if="!hidden">
					<div class="titleWrapper">
						<p>{{title}}</p>
					</div>
					<div class="descriptionWrapper">
						<p>{{description}}</p>
						<p class="small red" v-if="!errorHidden">{{error}}</p>
						<input id="dialogInput" class="glass-3" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Type here..." v-if="!inputHidden"/>
					</div>
					<div class="buttonWrapper">
						<button id="dialogProceed" class="" v-on:click="proceed" v-if="!proceedHidden">{{proceedText}}</button>
						<button id="dialogCancel" class="glass-2" v-on:click="cancel" v-if="!cancelHidden">{{cancelText}}</button>
					</div>
				</div>

				<!-- New Room -->
				<div id="roomApp" class="glass-2" v-if="!hidden">
					<div class="headWrapper">
						<p>Create room</p>
					</div>
					<div class="bodyWrapper">
						<div class="inlineContainer">
							<label for="roomDescription">Description</label>
							<label for="roomDescription" class="error" v-if="!descriptionErrorHidden">{{descriptionError}}</label>
						</div>
						<input id="roomDescription" class="glass-3" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Type here..." value="Take over the world!" v-on:keydown="validateDescription"/>
						<div class="inlineContainer">
							<label for="roomWaves">Total waves</label>
							<label for="roomWaves" class="error" v-if="!waveErrorHidden">{{waveError}}</label>
						</div>
						<input id="roomWaves" class="glass-3" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Type here..." value="10" v-on:keydown="validateFormat" v-on:input="validateMax" v-on:focusout="validateMin" v-on:wheel="toggleAmount"/>
						<label for="roomPassword">Password <span>(Optional)</span></label>
						<input id="roomPassword" class="glass-3" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Type here..."/>
						<!-- <label for="roomInvite">Invite</label> -->
						<div class="buttonWrapper">
							<button id="roomJoin" v-on:click="join">Join</button>
							<button id="roomClose" class="glass-2" v-on:click="close">Close</button>
						</div>
					</div>
				</div>

				<!-- Lobby -->
				<div id="lobbyApp" v-if="!hidden">
					<!-- Navigation -->
					<div class="navContainer glass-1">
						<div class="wrapper">
							<p>Bonelab</p>
						</div>
						<div class="wrapper">
							<button id="inventory" class="glass-2"><i class="fa fa-archive"></i>Inventory</button>
						</div>
						<div class="wrapper">
							<button id="shop" class="glass-2"><i class="fa fa-cart-plus"></i>Shop</button>
						</div>
						<div class="wrapper">
							<button id="logout" class="glass-2" v-on:click="logout"><i class="fa fa-sign-out"></i> Logout</button>
						</div>
					</div>

					<!-- Rooms -->
					<div id="roomContainer" class="glass-1">
						<div id="playerListWrapper" class="hideSidebar glass-2">
							<button class="toggleButton glass-2" v-on:click="toggleSidebar(room.sidebar)"><i class="fa fa-creative-commons-by"></i></button>
						</div>
						<div id="roomListWrapper" class="">
							<!-- rooms goes here -->
						</div>
						<button id="createRoom" v-on:click="createRoom"><i class="fa fa-plus"></i>&nbsp;New room</button>
					</div>

					<!-- Chat -->
					<div id="chatContainer" class="glass-1">
						<div id="friendListWrapper" class="hideSidebar glass-2">
							<button class="toggleButton glass-2" v-on:click="toggleSidebar(chat.sidebar)"><i class="fa fa-user-friends"></i></button>
						</div>
						<div id="chatWrapper" class="">
							<div id="textAreaWrapper">
								<!-- messages goes here -->
							</div>
							<div id="composeWrapper">
								<input id="composeMessage" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" v-on:keydown.enter="sendChat" placeholder="Type here..."></input>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="inGameUI">
				
			</div>

			<canvas id="gameCanvas" style="display:none;"></canvas>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>